* {
    margin: 0;
    padding: 0;
    height: 100%;
}

.login_heard{
    height: 2rem;
    width: 100%;
    position: relative;
    background-color: #f7f7f7;
    border-bottom:2px solid #dbdbdb;
    /* background-color: aqua; */
    /* font-size: 13px; */
}
.login_font{
    float: right;
    width: 100%;
    height: 2rem;
    font-size: 0.6rem;
    line-height: 2rem;
    text-align: center;
    /* background-color: blueviolet; */
}
.heard_img{
    width: 2rem;
    height: 2rem;
    float: left;
    /* background-color: aqua; */
    position: absolute;
    top: 0px;
}
.heard_imgs{
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.Find_heard{
    height: 2rem;
    width: 100%;
    position: relative;
    background-color: #f7f7f7;
    border-bottom:2px solid #dbdbdb;
    /* background-color: aqua; */
    /* font-size: 13px; */
}
.Find_font{
    float: right;
    width: 100%;
    height: 2rem;
    font-size: 0.6rem;
    line-height: 2rem;
    text-align: center;
    /* background-color: blueviolet; */
}
.find_mid{
    width: 100%;
    height: 2.5rem;
    /* background-color: #f7f7f7;
    border-bottom:2px solid #f1f1f1; */
    position: relative;
    /* background-color: rgb(211, 71, 71); */
}
.find_mid1{
    width: 100%;
    height: 2.5rem;
    /* /* background-color: #f7f7f7; */
    border-bottom:2px solid #dbdbdb; 
    position: relative;
    /* background-color: #f1f1f1; */
}
.find_mids{
    width: 9rem;
    height: 2rem;
   position: absolute;
   top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color:white;
    /* background-image: url(https://s3.ax1x.com/2021/03/18/62qyVI.png) no-repeat center top; */
}
.find_left{
    float: left;
    width: 3rem;
    height: 2rem;
    /* background-color: chartreuse; */

}
.find_left_1{
    width: 3rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.5rem;
    color: #3ca7ff;;
}
.find_left_2{
    width: 3rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.5rem;
    color: #cacaca;
}
.find_right{
    float: right;
    width: 3rem;
    height: 2rem;
    /* background-color: chartreuse; */
    
}
.find_right_2{
    width: 3rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.5rem;                                                                                                                                     
    color: #cacaca; 
}
.find_right_3{
    width: 3rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.5rem;
    color:  #3ca7f3;
}
.find_img{
    position: relative;
}
.find_imgs{
    color: #f5f5f5;
    position: absolute;
   top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
}
.big{
    margin-top:20px ;
    width: 100%;
    height: 5rem;
    background-color :#f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #dbdbdb;

}
.small{
    width: 9rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #dbdbdb;
    background-color: white;
    /* border-radius: 15px; */
    /* background-color: #3ca7f3; */
}
.sm_small{
width: 6rem;
height: 2rem;
display: flex;
justify-content: flex-start;
align-items: center;
/* background-color: bisque; */
}
.sm_small img{
width: 1.18rem;
height: 1.18rem;
}
.sm_small input{
    width: 5rem;
    height: 2rem;
    border: none;
    outline: none;
    font-size: 0.45rem;
    color: #cacaca;

    
}
.small button{
    width: 2rem;
    height: 1rem;
    outline: none;
    border-radius: 15px;
    border: 1px solid #3cabd3;
    font-size: 0.45rem;
    color: #3cabd3;
    background-color: white;
}
.log_email2{
    width: 9rem;
    height: 2rem;
    background-color:white;
    margin: 0 auto;
    border: 2px solid #ebebeb;
}
.login_log{
    /* margin-top:20px ; */
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f7f7f7;
    
}
#login_log{
      /* display: flex;
      justify-content: flex-start; */
      height: 4.25rem;
}
.log_emails{
    width: 9rem;
    height: 2rem;
    background-color:white;
    margin: 0 auto;
    border: 2px solid #ebebeb;
    border-top:none ;
}
.find_em{
    width: 100%;
    height: 5rem;
    display: flex;
    /* display: none; */
    background-color: #f7f7f7;
    border-top:2px solid #dbdbdb;

}
.find_ems{
    width: 100%;
    /* height: 5rem; */
    display: flex;
    /* display: none; */
    background-color: #f7f7f7;
    /* border-top:2px solid #dbdbdb; */
}
.log_email{
      width: 11rem;
      height: 2rem;
      background-color:white;
      margin: 1.27rem auto;
      margin-bottom: 0px;
      border: 2px solid #dbdbdb;
}
.img_em{
    width: 1.37rem;
    height: 100%;
    /* background-color: burlywood; */
    position: relative;
    float: left;
}
.em_img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1.18rem;
    height: 1.18rem;
     
}

.email{
    /* float: right; */
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 1.05rem;
    /* bottom: 0; */
    margin: auto;
    /* right: 4.5rem; */
    /* width: 8rem; */
    height: 1.5rem;
    width: 5rem;
    margin-top: 0.09rem;
    /* background-color: cadetblue; */
}
.emails{
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /* margin: auto; */
    /* margin-top: 0.25rem; */
    border: none;
    outline: none;
    color: #cacaca;
    /* background-color: yellow; */
    width: 4.99rem;
    height: 1.45rem;
    font-size: 0.45rem;
}
/* input::-webkit-input-placeholder {      
       /* placeholder颜色  */
           /* color: #aab2bd; */
           /* placeholder字体大小  */
           /* font-size: 0.45rem; */
           /* placeholder位置  */
           /* text-align: left; */
          
        /* } */
.btn{
    float: right;
    width: 2.8rem;
    height: 1rem;
    margin-top: 0.47rem;
    margin-right: 0.12rem;
    /* background-color: aquamarine; */
    border-radius: 0.48rem;
    border: 1px solid #3ca7ff;
    position: relative;

}
.btn_btn{
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 0.5rem;
    background-color:white;
    color:#3ca7ff;
}
.inp_into{
    /* height: 1.5rem; */
    /* width: 11rem; */
    /* background-color:#f7f7f7; */
    /* margin-top: 30px; */
  margin: 0px auto;
  /* margin-bottom: 0px;
   position: relative;
  border-radius: 15px;*/
}
#button{
    /* display: none; */
    /* background-color:#3ca7ff; */
    border-radius: 15px;
    width: 9rem;
    height: 1.5rem;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 0.6rem;
    background-color:#3ca7ff;
    color: white;
   
}
.inp_into{
    height: 1.5rem;
    width: 9rem;
    background-color:#3ca7ff;
    /* margin-top: 30px; */
  margin: 0 auto;
  margin-bottom: 0px;
  position: relative;
  border-radius: 15px;
}
#button{
    /* display: none; */
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 0.6rem;
    background-color:#3ca7ff;
    color: white;
   
}
.up_window{
    /* float: left; */
    width: 100%;
    height: 22rem;
    background-color: #eeeeee;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;

    /* z-index: auto; */
    display: none;
}
.up_wind{
    width:4rem;
    height: 3rem;
    background-color:black;
    /* opacity: 0.2; */
    border-radius: 5px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
 
    
}
.wind{
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    /* bottom: 0; */
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
}
.up_img{
    width: 1rem;
    height: 1rem;
    float: left;
    margin-top: 0.63rem;
    margin-left: 0.63rem;
    background-color: #eeeeee;
}
.up_imgs{
    width: 0.8rem;
    height: 0.8rem;
}
.wind_font{
    color: #eeeeee ;
     text-align: center;
     font-size: 0.5rem;
}
.wind_ft{
    width: 100%;
    height: 1rem;
    position: absolute;
    bottom: 0;
    /* background-color:red ; */
}
#find_word{
    display: none;
}
#find_pass{
    display: block;
}
.emails1{
    border: none;
    outline: none;
    border: none;
    outline: none;
    color: #cacaca;
    /* background-color: yellow; */
    width: 4.99rem;
    height: 1.45rem;
    font-size: 0.45rem;
    /* background-color: yellow; */
}
