* {
    margin: 0;
    padding: 0;
    /* height: 100%; */
}

.Find_heard{
    height: 2rem;
    width: 100%;
    position: relative;
    /* background-color: #f7f7f7; */
    border-bottom:2px solid #dbdbdb;
    /* background-color: aqua; */
    /* font-size: 13px; */
}
.Find_font{
    float: right;
    width: 100%;
    height: 2rem;
    font-size: 0.6rem;
    line-height: 2rem;
    text-align: center;
    /* background-color: blueviolet; */
}
.heard_img{
    width: 2rem;
    height: 2rem;
    float: left;
    /* background-color: aqua; */
    position: absolute;
    top: 0px;
}
.heard_imgs{
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.recharge_way{
    width: 100%;
    height: 2rem;
    /* background-color :#f3f3f3; */
    display: flex;
    justify-content: space-around;
    border-bottom:2px solid #dbdbdb;

      
}
.way_font{
    width: 3rem;
    height: 2rem;
    /* background-color: turquoise; */
    font-size: 0.6rem;
}
.way_font p{
    line-height: 2rem;
}
.way_img{
    width: 3.5rem;
    height: 2rem;
    /* background-color: violet; */
    font-size: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.way_img img{
    width: 1rem;
    height: 1rem;
   
     
}
.way_img p{
    line-height: 2rem;
}
.monetary{
  width: 100%;
  display: flex;

  justify-content: space-around;
  /* background-color: red; */
}
.monetary p{
    width: 6.5rem;
    height: 2rem;
    font-size: 0.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* display: flex; */
    /* justify-content: space-around; */
    /* justify-content: flex-start; */

    /* margin-left: 0.5rem; */
   /* padding: 0.6rem 1.3rem; */
   /* display: flex; */
   /* justify-content: space-around; */
}
.monetarys{
    width: 100%;
    display: flex;
  
    justify-content: space-around;
    /* background-color: red; */
  }
.mone_inpt p{
    width: 1rem;
    height: 2rem;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.mone_inpt{
    width: 7rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
}
.mone_inpt input{
    /* width: 4rem; */
    height: 1rem;
    /* float: left; */
    border: none;
    outline: none;
    display: flex;
    margin-top: 0.5rem;
    /* justify-content: space-between;
    align-items: center;
    border: 1px solid #dbdbdb;  */
    /* border: 1px solid #d1d1d1; */
}
.sure{
    width: 100%;
    height: 10rem;
    background-color: #f3f3f3;
    border-top:2px solid #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
    /* -ms-flex-item-align: center; */

}
.sure button{
    /* margin: 0 auto; */
    border: none;
    outline: none;
     width: 8rem;
     height: 1.5rem;
     color: white;
     border-radius: 15px;
     font-size: 0.6rem;
     background-color: #3cabda;

}
.up_window{
    /* float: left; */
    width: 100%;
    height: 22rem;
    background-color: #eeeeee;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;

    /* z-index: auto; */
    display: none;
}
.up_wind{
    width:4rem;
    height: 3rem;
    background-color:black;
    /* opacity: 0.2; */
    border-radius: 5px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
 
    
}
.wind{
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    /* bottom: 0; */
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
}
.up_img{
    width: 1rem;
    height: 1rem;
    float: left;
    margin-top: 0.63rem;
    margin-left: 0.63rem;
    background-color: #eeeeee;
}
.up_imgs{
    width: 0.8rem;
    height: 0.8rem;
}
.wind_font{
    color: #eeeeee ;
     text-align: center;
     font-size: 0.5rem;
}
.wind_ft{
    width: 100%;
    height: 1rem;
    position: absolute;
    bottom: 0;
    /* background-color:red ; */
}